<div>
<ul class="plan-format">
  <li class="plan-text">プランテキスト</li>
  <li class="charge">
    <span class="charge-yen">¥</span><span class="charge-num">5,000</span>
    <p class="monthly">月額</p>
  </li>
  <li class="plan-info">入会金0円</li>
  <li class="plan-info">平日:9時～17時</li>
  <li class="plan-info">土日祝:利用ナシ</li>
  <li class="plan-info">
    コアタイムでの利用に最適なプランコアタイムでの利用に最適なプランコアタイムでの利用に最適なプランコアタイムでの利用に最適なプランコアタイムでの利用に最適なプランコアタイムでの利用に最適なプラン
  </li>
</ul>
<ul class="plan-format">
  <li class="plan-text">プランテキスト</li>
  <li class="charge">
    <span class="charge-yen">¥</span><span class="charge-num">5,000</span>
    <p class="monthly">月額</p>
  </li>
  <li class="plan-info">入会金0円</li>
  <li class="plan-info">平日:9時～17時</li>
  <li class="plan-info">土日祝:利用ナシ</li>
  <li class="plan-info">
    コアタイムでの利用に最適なプランコアタイムでの利用に最適なプランコアタイムでの利用に最適なプランコアタイムでの利用に最適なプランコアタイムでの利用に最適なプランコアタイムでの利用に最適なプラン
  </li>
</ul>
</div>
