@use "../../variables" as *;
.plan {
  text-align: center;
  display: flex;
  @media (max-width: $breakpoint-lg) {
    flex-flow: column;
  }
  .plan-format {
    &:nth-child(2n) {
      border: solid 5px $orange_bistre;
      .plan-title {
        background-color: $orange_bistre;
      }
    }
  }
  .plan-title {
    background-color: $orange_zorba;
    font-size: $fontsize-L;
    color: $white;
    font-weight: bold;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .charge {
    background-color: $gray_desertStorm;
    border: 1px solid $gray_gainsboro;
    border-bottom: 0.5px solid $gray_gainsboro;
    color: $orange_bistre;
    font-size: $fontsize-XXL;
    font-weight: bold;
    padding-top: 24px;
    span {
      font-size: $fontsize-L;
      margin-right: 0px;
    }
    h6 {
      color: $black;
      margin-top: 16px;
      margin-bottom: 0px;
      padding-bottom: 24px;
      font-size: $fontsize-S;
      font-weight: normal;
    }
  }
  ul {
    padding: 0px;
    margin-bottom: 0px;
  }
  li {
    list-style-type: none;
    padding: 20px 10px;
    border: 1px solid $gray_gainsboro;
    border-top: 0.5px solid $gray_gainsboro;
  }
}
