@use "../../variables" as *;

.news-events-title {
  align-items: center;
  display: flex;
  margin-bottom: 32px;
  .main {
    font-size: $fontsize-L;
    font-family: $fontfamily-mincho;
    margin-bottom: 0px;
    @media (min-width: $breakpoint-lg) {
      font-size: $fontsize-XXL;
    }
  }
  .sub {
    font-size: $fontsize-M;
    margin-left: 16px;
  }
}
