@use "../../variables" as *;

.button {
  width: 180px;
  height: 45px;
  padding: 0px 16px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: $white;
  background-color: $black;
  transition: 0.2s ease;
  &:hover {
    color: $white;
    background-color: $orange_bistre;
    text-decoration: none;
  }
}
@media (min-width: $breakpoint-md) {
  .button {
    width: 150px;
    height: 55px;
    line-height: 55px;
  }
}
@media (min-width: $breakpoint-lg) {
  .button {
    width: 200px;
  }
}
