$color-example: #ff0000;
$fontsize-example: 16px;

$white: #ffffff;
$white_smoke: #f5f5f5;
$gray_desertStorm: #ece9e6;
$gray_gainsboro: #dddddd;
$gray_nobel: #999999;
$orange_zorba: #a19283;
$orange_bistre: #442606;
$black: #000000;
$black_50: rgba($black, 0.5);

$XS: 12px;
$S: 14px;
$M: 16px;
$L: 20px;
$XL: 36px;
$XXL: 40px;

$fontfamily-mincho: "Noto Serif JP", serif;
$fontfamily-gothic: "Noto Sans JP", sans-serif;

body {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
